# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AI/.vs/AI/v15/Browse.VC.db
AI/.vs/AI/v15/.suo
AI/.vs/AI/v15/ipch/AutoPCH/78d54ef3c5835d35/NEURON.ipch
AI/.vs/AI/v15/ipch/AutoPCH/c52fe88f8d551b3/MAIN.ipch
AI/.vs/AI/v15/Browse.VC.opendb
AI/.vs/AI/v15/ipch/AutoPCH/c200f27fe05f6212/APPLICATION.ipch
AI/.vs/AI/v15/ipch/AutoPCH/a32cedbe329e2bc5/ASTAR.ipch
AI/.vs/AI/v15/ipch/AutoPCH/9d330eca7dc801a3/MAZE.ipch
AI/.vs/AI/v15/ipch/AutoPCH/c200f27fe05f6212/APPLICATION.ipch
AI/.vs/AI/v15/ipch/AutoPCH/9d330eca7dc801a3/MAZE.ipch
AI/.vs/AI/v15/ipch/AutoPCH/a32cedbe329e2bc5/ASTAR.ipch
AI/.vs/AI/v15/ipch/AutoPCH/c200f27fe05f6212/APPLICATION.ipch
